/*
	THEME COLORS
	---------------------------------
		White: #FFF
		Grey-Blue: #F0F3F6
		Light Blue: #20ADD2
		Blue: #027FB9
		
		Dark Blue Background: #182430
		
		Grey Shadow: rgba(0,0,0,0.30)
		
		Black Font: #111111
		Grey Font: #444444
		Light Grey Font: #9EACBE;
	
*/
/*------------------------------BASES------------------------------*/
body{
	background: #F6F6F6;
	font-family: "Open Sans";
	font-size: 14px;
	color:#444444;
	text-align: justify;
	
}

.contained{
	margin: 0px auto;
	width: 1200px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.centralized{
	text-align: center;
	text-indent: 40px;
}

.text_information{
	display: inline-block;
	width: 880px;
	padding:0px 80px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}


.media_information{
	display: inline-block;
	width: 240px;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*------------------------------HEADER------------------------------*/
header{
	top:0;
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 100;
	overflow: hidden;
	
	margin-bottom: 50px;
	padding-top: 20px;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
	box-shadow: 0px 1px 5px rgba(0,0,0,0.30);
	background: #FFFFFF;
}

header h1{
	display: inline;
	margin-left: 20px;
	font-size: 20px;
	font-family: "Open Sans";
	color: #111;
}

header nav{
	display: inline;
	float: right;
}

header nav ul li{
	display: inline-block;
	margin: 0px 15px;
}

header nav ul li a{
	display: inline-block;
	padding-bottom: 8px;
	border-bottom: 4px solid transparent;
	
	-webkit-transition: color 0.6s, border-color 0.6s;
	-moz-transition: color 0.6s, border-color 0.6s;
	-o-transition: color 0.6s, border-color 0.6s;
}

header nav ul li:hover a, .current a{
	border-bottom:4px solid #027FB9;
	color: #027FB9;
}

/*------------------------------MAIN CONTENT------------------------------*/
#mainContent{
	margin: 70px auto 0px;
	width: 1200px;
	background: #FFF;
	box-shadow: 0px 20px 10px rgba(0,0,0,0.30);
}

#mainContent section{
	padding-bottom: 60px;
	font-size: 15px;
	line-height: 24px;
	color: #111111;
	
	padding-bottom: 120px;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

#mainContent section article{
	margin-top: 30px;
	padding-bottom: 30px;
	color:rgb(91, 96, 100);
}

#mainContent section article h1{
	font-family: "Roboto";
	font-size: 32px;
	margin-bottom: 10px;
	color: rgb(65, 65, 65);
}

#mainContent section article h2{
	font-family: "Roboto";
	font-size: 16px;
}

#mainContent section article p{
	margin: 20px 0px 10px;
}

#mainContent section article ul{
	list-style-position:inside;
	text-indent: 30px;
}

/*------------------------------MISC------------------------------*/
.dark_blue_highlight{
	background: #182430;
	color: #9EACBE;
}
.dark_blue_highlight article p, .dark_blue_highlight article .text_information{ color: #9EACBE; }
#mainContent .dark_blue_highlight h1{ color: #dae1e8; }
.light_blue{ color: #33a9c6; }

.blue{ color:#027FB9; }
.white_highlight{ background: #FFFFFF; }

#accomplishments article .text_information{
	width: 100%;
}

.courses{
	padding: 30px 0px;
}

#mainContent #course_outline{
	background: #FFFFFF;
	padding-bottom: 0px;
}

#intermediate .contained{
	padding-left: 70px;
}


/*------------------------------CCC CHAMPION TIMELINE------------------------------*/
#timeline {
	overflow: hidden;
	width: 60%;
	margin: 30px auto 0px;
}

#timeline li {
	display:block;
	clear: both;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 251px;
	text-transform: uppercase;
}

#timeline hr{
	background-color: #C5CBD4;
    border: 0 none;
    color: #C5CBD4;
    height: 2px;
}

#timeline li:nth-child(odd){
	float:right;
	padding-left: 60px;
	border-left: 2px solid #C5CBD4;
}

#timeline li:nth-child(even){
	float:left;
	text-align: right;
	padding-right: 60px;
	border-right: 2px solid #C5CBD4;
}

/*------------------------------BANNER------------------------------*/
.banner{
	width: 1200px;
	height: 520px;
	overflow: hidden;
	margin-bottom: 50px;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.20);
}

.banner .banner_description{
	padding: 30px 30px 30px 80px;
	font-family: "Roboto";
	font-size: 18px;
	position: absolute;
	margin-top: 200px;
	
	background: rgba(0,0,0,0.80);
	color:#dae1e8;
	line-height: 20px;
}

.banner .banner_description h1{
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 5px;
}

.banner .banner_description h2{
	font-size: 25px;
	margin-bottom: 20px;
}


/*------------------------------FOOTER------------------------------*/

footer{
	font-size: 14px;
	height: 30px;
	box-shadow: 0px -1px 2px rgba(0,0,0,0.30);
	padding: 20px 0px;
	background: #182430;
}

footer p{
	font-family: "Open Sans";
	font-size: 12px;
	color: #9EACBE;
}